@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
html {
  font-size: 15px;
}
img {
  border: 0;
  vertical-align: top;
}
body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 400;
  color: #000;
}
/* 섹션레이아웃 공통패딩 */
.wrap > section {
  padding: 80px 0;
}
.good-slide {
  position: relative;
  display: block;
}
.good-slide .good-box {
  float: left;
  margin-right: calc((100% - (290px * 3)) / 2);
}
.good-slide .good-box:last-child {
  margin-right: 0;
  float: right;
}

/* 타이틀 레이아웃 */
.section-title {
  position: relative;
  display: block;
  font-size: 32px;
  line-height: 40px;
  color: #000;
  font-weight: 400;
  margin-bottom: 20px;
}
.section-title b {
  font-weight: 700;
}
.section-title .blue {
  color: #76bd42;
}
.section-bt {
  position: relative;
  display: block;
  width: 114px;
  height: 34px;
  text-align: center;
  line-height: 32px;
  border: 1px solid #bbb;
  background: #fff;
  color: #666;
  font-size: 13px;
  transition: background 0.5s;
}

.section-bt:hover {
  background: #f9f9f9;
}

.slide-prev,
.slide-next {
  position: absolute;
  width: 26px;
  height: 20px;
  top: 0;
  cursor: pointer;
  border: 0;
  font-size: 0;

  display: block;
}
.slide-prev {
  left: 0;
  background: url("../images/swiperArrP.png") no-repeat;
}
.slide-prev:hover {
  background-position: 0 -20px;
}

.slide-next {
  right: 0;
  background: url("../images/swiperArrN.png") no-repeat;
}
.slide-next:hover {
  background-position: 0 -20px;
}
.slide-control {
  position: relative;
  display: block;
  width: 140px;
}

.slide-pg {
  position: relative;
  display: block;
  text-align: center;
}
.slide-control {
  position: relative;
  margin-top: 0;
  width: 140px;
  display: block;
}

/* 고정 메뉴 */
.fix-menu {
  position: fixed;
  right: 0;
  top: 175px;
  display: block;
  width: 85px;

  z-index: 999999;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 4px 9px 0 rgb(0 0 0 / 10%);
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 29px;

  overflow: hidden;
}

.fix-list {
  position: relative;
  display: block;
}
.fix-list > li {
  position: relative;
  display: block;
  text-align: center;
  font-size: 13px;
  white-space: nowrap;

  margin-bottom: 10px;
}
.fix-list > li > a {
  position: relative;
  display: block;
}
.fix-list > li > a::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 36px;
  height: 32px;
  background: url("../images/icoFloating.png") no-repeat;
}

.fix-list > li span {
  position: relative;
  display: block;
}
.fix-login::after {
  background-position: 0px 0px;
}
.fix-shop::after {
  background-position: 0px -32px !important;
}
.good-recent {
  display: inline-block !important;
  width: 50px !important;
  height: 50px !important;
  overflow: hidden;
}

/* 뒷편 아이콘 없애기 */

.good-recent::after{
  content: none !important;
}


.good-recent img {
  position: absolute;
  left: 50%;
  top: 50%;
  /* 위치는 고정 내용!!! 만 변경 */
  transform: translate(-50%, -50%);
  width: 100%;
}
.fix-qa::after {
  background-position: 0px calc(-32px * 2) !important;
}
.fix-talk::after {
  background-position: 0px calc(-32px * 3) !important;
}
.fix-top {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  line-height: 29px;
  text-align: center;
  cursor: pointer;
  border: 0;
  background: #000;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}

/* 공통요소 */

.clearfix::after {
  content: "";
  position: relative;

  display: block;
  width: 100%;
  clear: both;
}
.container {
  position: relative;
  display: block;
  width: 1200px;
  margin: 0 auto;
}
.section-bar {
  padding-bottom: 15px;
}
.section-bar::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 20px;
  height: 2px;
  background: #707070;
}
/* 타이틀 레이아웃 */

.section-title-txt {
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.section-bt {
  position: relative;
  display: block;
}
/* 제품 기본 레이아웃 */
.good-box {
  position: relative;
  display: block;
  width: 290px;
  height: 410px;
  background: #fff;
  overflow: hidden;
}

.good-img {
  position: relative;
  display: block;
  width: 100%;
  height: 290px;
  overflow: hidden;
}
.good-img > img {
  transition: transform 0.5s;
}

.good-img:hover > img {
  /* 위치는 그대로두고 보이는 것을 변형한다 */
  transform: scale(1.1);
}
.good-type {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  background: #76bd42;
  font-weight: 500;
}
.good-info {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  padding: 15px;
  font-size: 17px;
  color: #000;
}
.good-info em {
  font-style: normal;
}
.good-info-price {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 15px;
  font-size: 22px;
  color: #000;
  font-weight: 500;
}
.good-info-price em {
  font-size: 17px;
  font-style: normal;
}

.good-add-cart {
  position: absolute;
  right: 20px;
  bottom: 45px;

  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/btnCart.png") no-repeat;
  background-position: 0px 0px;
  border: 0;
  cursor: pointer;
}
.no-mb {
  margin-bottom: 0;
}
.layout-wrap {
  position: relative;
  display: block;
}

.layout-left {
  position: relative;
  display: block;
  float: left;
  width: calc(100% - 900px);
}
.layout-right {
  position: relative;
  display: block;
  float: right;
  width: 900px;
}
/* 섹션 레이아웃 */
.good-wrap {
  position: relative;
  display: block;
}
.good-wrap .good-box {
  float: left;
  margin-right: calc((100% - (290px * 4)) / 3);
}
.good-wrap .good-box:last-child {
  margin-right: 0;
  float: right;
}
/* 레이아웃 */
.wrap {
  position: relative;
  display: block;
}

/*  상단 */
.header {
  position: relative;
  display: block;

  z-index: 99999;
  border-bottom: 1px solid #eee;
  background: #fff;
}
.header-top {
  position: relative;
  display: block;

  padding-top: 30px;
}
.header-top-left {
  position: relative;
  display: block;

  float: left;
  /* inline 엔턴키 공백 제거  */
  font-size: 0;
  letter-spacing: 0;
}
.logo {
  position: relative;
  display: inline-block;
  margin-right: 18px;
}

.bt-schedule {
  position: relative;
  display: inline-block;
  font-size: 13px;
  color: #666;
  border: none;
  background: transparent;
  cursor: pointer;
  vertical-align: 9px;
}
.bt-schedule img {
  vertical-align: -2px;
}
.header-top-right {
  display: block;
  position: relative;
  float: right;
  padding: 3px;
}
.track {
  position: relative;
  display: inline-block;
}
.member-list {
  position: relative;
  display: inline-block;
  vertical-align: -3px;
}

.member-list > li {
  display: block;
  position: relative;
  float: left;
  padding: 0 10px;
}
.member-list > li::after {
  content: "";

  position: absolute;
  right: 0;
  top: 7px;
  height: 8px;
  width: 1px;
  background: #bbb;
}
.member-list > li:last-child {
  padding-right: 0;
}
.member-list > li:last-child::after {
  content: none;
}
.member-list > li > a {
  display: block;
  position: relative;
  font-size: 13px;
  color: #666;
}
a.center-more {
  padding-right: 15px;
}
.center-more::after {
  /*  많이 쓰임 */
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 10px;
  height: 6px;
  background-position: 0px 0px;

  background: url("../images/icoMyMenu.png") no-repeat;
}
.center-list {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  z-index: 1;
}
.center-list > li {
  display: block;
  position: relative;
}
.center-list > li > a {
  display: block;
  position: relative;
  color: #666;
  font-size: 13px;
  white-space: nowrap;

  /* 줄내림 놉 */
}
.center-more:hover {
  background-position: 0px -6px;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}

.header-main {
  display: block;
  position: relative;
  padding: 13px 0;
}
.header-main-left {
  display: block;
  position: relative;
  float: left;
}
.nav {
  display: inline-block;
  position: relative;
  padding-top: 12px;
  margin-right: 45px;
}

.gnb {
  display: block;
  position: relative;
}
.gnb > li {
  display: block;
  position: relative;
  float: left;

  margin-right: 30px;
}
.gnb > li:last-child {
  margin-right: 0;
}
.gnb > li > a {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 17px;
  color: #000;
  line-height: 19px;
}
.gnb > li > a:hover {
  background: #76bd42;
}
.ball::after {
  content: "";
  position: absolute;
  right: -7px;
  top: 0px;
  width: 5px;
  height: 5px;
  background: #ff9933;
  border-radius: 50%;
}
.all-bt {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 17px;
  color: #000;
  cursor: pointer;
  border: 0;
  background: transparent;
  line-height: 19px;
}
.all-bt > i {
  margin-right: 15px;
  display: inline-block;
  /* block 주면 줄내림됨 옆에 아무도못옴  */
}
.join-bt {
  display: block;

  font-weight: 500;
  font-size: 17px;
  color: #000;
  cursor: pointer;
  border: 0;
  background: transparent;
  line-height: 19px;
}
.join-bt:hover {
  color: #76bd42;
}

.join-bt-icon {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 8px;
  background: url("../images/icoGnbArr2.png") no-repeat;
  background-position: 0px 0px;
  vertical-align: 2px;
  margin-left: 2px;
}
.join-list,
.more-menu-list {
  position: absolute;
  left: 50%;
  /* 좌표가 아닌 보이는 영역의 내용을 이동한다 */
  transform: translateX(-50%);
  top: 42px;
  display: block;
  padding: 20px;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 16%);
}
.join-list > li,
.more-menu-list > li {
  position: relative;
  display: block;
  padding: 7px 0;
  text-align: left;
}
.join-list > li > a,
.more-menu-list > li > a {
  position: relative;
  display: inline-block;
  font-size: 15px;
  color: #666;
  line-height: 37px;
  white-space: nowrap;
  line-height: 19px;

  border-bottom: 2px solid white;
}
.join-list > li > a:hover,
.more-menu-list > li > a:hover {
  /* text-decoration: underline;

  text-underline-position: under;
  text-decoration-thickness: 2px; */
  border-bottom: 2px solid #000;
  font-weight: 600;
  color: #000;
}
.join-bt:hover .join-bt-icon {
  background-position: 0px -8px;
}
.more-menu {
  display: inline-block;
  position: relative;
}
.more-menu-bt {
  display: inline-block;
  position: relative;

  font-size: 13px;
  color: #666;
  cursor: pointer;
  border: 0;
  background: transparent;
  line-height: 19px;
  vertical-align: 5px;
}
.more-menu-icon {
  display: inline-block;
  width: 10px;
  height: 6px;
  background: url(../images/icoGnbArr3.png) no-repeat;
  background-position: 0px 0px;
  margin-right: 3px;
  vertical-align: px;
}
.more-menu-bt:hover {
  color: #76bd42;
}
.more-menu-bt:hover > .more-menu-icon {
  background-position: 0 -6px;
}
.header-main-right {
  display: block;
  position: relative;
  float: right;
}
.search-form {
  display: block;
  position: relative;
  float: left;
}
.search-txt {
  position: relative;
  display: block;
  width: 320px;
  height: 40px;
  background: #f7f7f7;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 45px;
  border: 1px solid #f7f7f7;
  line-height: 40px;
  font-size: 13px;
}
.search-txt:focus {
  background: #fff;
  border: 1px solid #76bd42;
  color: #000;
}

.search-bt {
  position: absolute;
  top: 50%;
  /*좌표는결정했는데 보이는내용물의 높이를 50%만큼 위로 올린다  */
  transform: translateY(-50%);
  right: 20px;
  display: block;
  border: 0;
  width: 18px;
  height: 18px;
  background: url("../images/btnSearch.png") no-repeat;
  cursor: pointer;
  font-size: 0;
}
.bucket {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  background: url("../images/btnCart.png");
  font-size: 0;
  float: left;
  margin-top: 6px;
  margin-left: 25px;
}
.bucket-count {
  position: absolute;
  display: block;
  right: -5px;
  top: -1px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  background: #76bd42;
  border-radius: 50%;
  font-size: 11px;
  font-weight: 700;
}
/*  비주얼 */
.visual {
  display: block;
  position: relative;
  width: 100%;
  height: 410px;
  overflow: hidden;
  padding: 0 !important;
}
.visual-slide {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.visual-slide-page {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.visual-slide-page a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.visual-prev,
.visual-next {
  position: absolute;

  top: 50%;
  /* 죄표고정 내용물만 옯김 */
  transform: translateY(-50%);
  display: block;
  border: 0;
  cursor: pointer;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.visual-prev:hover {
  background: rgb(0, 0, 0, 0.3) url("../images/visualArrP.png") no-repeat;
  background-position: 0 -64px;
}
.visual-prev {
  left: calc(50% - 600px);
  background: rgb(0, 0, 0, 0) url("../images/visualArrP.png") no-repeat;
  background-position: 0 -64px;
}

.visual-next {
  right: calc(50% - 600px);
  background-position: 0 -64px;
  background: rgb(0, 0, 0, 0) url("../images/visualArrN.png") no-repeat;
}
.visual-next:hover {
  background: rgb(0, 0, 0, 0.3) url("../images/visualArrP.png") no-repeat;
  background-position: 0 -64px;
}
.visual-control {
  position: absolute;
  bottom: 43px;

  left: calc(50% - 600px + 80px);
  display: block;
}
.visual-play {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/visualPlay.png");
  float: left;
  border: 0;
}
.visual-pg {
  display: block;
  position: relative;
  width: 52px;
  height: 30px;
  background: url("../images/visualNum.png") no-repeat;
  float: left;
  font-size: 14px;
  font-weight: 700;
  margin-left: 5px;
  text-align: center;
  color: #fff;
}
.visual-more {
  display: block;
  position: relative;
  width: 29px;
  height: 30px;
  background: url("../images/visualMore.png") no-repeat;
  cursor: pointer;
  border: 0;
  margin-left: 3px;
  float: left;
}

/*  오늘의상품 */
.today {
  display: block;
  position: relative;
}
/*  알뜰상품 */
.sale {
  display: block;
  position: relative;
  background: #edf9f9;
}
.sale .slide-control {
  margin-top: 105px;
}

/* 신상품 */
.new {
  position: relative;
  display: block;
}
.new .section-bt {
  position: absolute;
  right: 0;
  bottom: 0;
}

.new-wrap {
  position: relative;
  display: block;
  border-bottom: 1px solid #eee;
  padding-bottom: 50px;
}
.new-left {
  position: relative;
  display: block;
  width: calc(50% - 8px);
  float: left;
}
.new-img {
  position: relative;
  display: block;
  height: 370px;
  overflow: hidden;
  margin-bottom: 20px;
}

.new-title {
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
}
.new-txt {
  position: relative;
  display: block;
  font-size: 17px;
}

.new-right {
  position: relative;
  display: block;
  width: calc(50% - 8px);
  float: right;
}
.new-box {
  position: relative;
  display: block;
  width: calc(50% - 8px);
}
.new-box-img {
  position: relative;
  display: block;
  width: 100%;
  height: 180px;
  overflow: hidden;
  margin-bottom: 15px;
}

.new-box-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 101%;
}

.new-box-title {
  position: relative;
  display: block;
  font-size: 17px;
  font-weight: 500;
  /* 말줄임 ... 처리 */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 10px;
}

/* 홀수 는 float:left */
.new-right .new-box:nth-child(2n + 1) {
  float: left;
}
/* 짝수 는 float:right */
.new-right .new-box:nth-child(2n) {
  float: right;
}
/*  추천물품 */
.recommend {
  display: block;
  position: relative;
  background: #fff8fa;
}

.recommend .section-title-txt {
  font-size: 17px;
  border-bottom: 2px solid #76bd42;

  display: inline-block;
}
.recommend .section-title-txt {
}
.recommend .slide-control {
  margin-top: 20px;
}

/* 인기물품 */
.popular {
  position: relative;
  display: block;
}
.popular-cate {
  position: relative;
  display: block;
  margin-bottom: 40px;
}
.popular-more {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  height: 34px;
  padding: 0 20px;
  text-align: center;
  line-height: 32px;
  border: 1px solid #bbb;
  background: #fff;
  color: #666;
  font-size: 13px;
  transition: background 0.5s;
}
.popular-more:hover {
  background: #f9f9f9;
}

.popular-slide-prev,
.popular-slide-next {
  position: relative;
  display: block;
  width: 80px;
  height: 140px;

  background: #fff;
}
.popular-slide-prev {
  float: left;
}
.popular-slide-prev span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 20px;
  background: url("../images/swiperArrP.png") no-repeat;
  background-position: 0px 0px;
  cursor: pointer;
  font-size: 0;
}
.popular-slide-next {
  float: right;
}
.popular-slide-next span {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 20px;
  background: url("../images/swiperArrN.png") no-repeat;
  background-position: 0px 0px;
  cursor: pointer;
  font-size: 0;
}
.popular-slide {
  position: relative;
  display: block;
  width: calc(100% - 80px - 80px);
  height: 140px;
  float: left;
}
.popular-slide a {
  position: relative;
  display: block;
  overflow: hidden;
  width: 140px;
  height: 140px;
  border: 1px solid rgb(0, 0, 0, 0);
  overflow: hidden;
  float: left;
  margin-right: 10px;
}

.popular-slide a:hover {
  background: white;
  border: 1px solid #76bd42;
}
.popular-slide-prev span:hover {
  background-position: 0 -20px;
}
.popular-slide-next span:hover {
  background-position: 0 -20px;
}

.popular-slide a:hover .popular-cate-icon {
  background-position: 0 -64px;
}

.popular-cate-icon {
  position: relative;
  display: block;
  width: 65px;
  height: 64px;
  overflow: hidden;
  margin: 20px auto;
}
.popular-cate-name {
  position: relative;
  display: block;
  font-size: 17px;
  text-align: center;
  white-space: nowrap;
}

/*  카테고리 아이콘관련 */
.cate-icon-1 {
  background: url("../images/icon_1.png") no-repeat;
  background-position: 0px 0px;
}
.cate-icon-2 {
  background: url("../images/icon_2.png") no-repeat;
  background-position: 0px 0px;
}
.cate-icon-3 {
  background: url("../images/icon_3.png") no-repeat;
  background-position: 0px 0px;
}
.cate-icon-4 {
  background: url("../images/icon_4.png") no-repeat;
  background-position: 0px 0px;
}
.cate-icon-5 {
  background: url("../images/icon_5.png") no-repeat;
  background-position: 0px 0px;
}
.cate-icon-6 {
  background: url("../images/icon_6.png") no-repeat;
  background-position: 0px 0px;
}
.cate-icon-7 {
  background: url("../images/icon_7.png") no-repeat;
  background-position: 0px 0px;
}
.cate-icon-8 {
  background: url("../images/icon_8.png") no-repeat;
  background-position: 0px 0px;
}
.cate-icon-9 {
  background: url("../images/icon_9.png") no-repeat;
  background-position: 0px 0px;
}
.cate-icon-10 {
  background: url("../images/icon_10.png") no-repeat;
  background-position: 0px 0px;
}
.cate-icon-11 {
  background: url("../images/icon_11.png") no-repeat;
  background-position: 0px 0px;
}

.cate-icon-12 {
  background: url("../images/icon_12.png") no-repeat;
  background-position: 0px 0px;
}

.cate-icon-13 {
  background: url("../images/icon_13.png") no-repeat;
  background-position: 0px 0px;
}

.cate-icon-14 {
  background: url("../images/icon_14.png") no-repeat;
  background-position: 0px 0px;
}
/*  브랜드관 */
.brand {
  display: block;
  position: relative;
  background: #f3f9f0;
}
.brand .slide-control {
  margin-top: 25px;
}
.brand-slide {
  position: relative;
  display: block;
}
.brand-box {
  display: block;
  position: relative;
  width: 285px;
  height: 285px;
  background: 30px;
  padding: 35px 30px;
  background: #fff;
  float: left;
}
.brand-box a {
  display: block;
  position: relative;
  text-align: center;
}
.brand-box a img {
  display: inline-block;
  position: relative;
}
.brand-box a p {
  display: block;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 40px;
}
.brand-info {
  display: block;
  position: relative;
}
.brand-info > li {
  display: block;
  position: relative;
  width: 50%;
  float: left;
  border-right: 1px solid #e3e3e3;
}
.brand-info > li:last-child {
  border-right: 0;
}
.brand-info-title {
  display: block;
  position: relative;
  text-align: center;
  font-size: 16px;
  color: #666;
  margin: 5px 0;
}
.brand-info-value {
  display: block;
  position: relative;
  font-size: 18px;
  font-weight: 500;
}
/*  배너 */
/* 배너 */
.banner {
  position: relative;
  display: block;
  padding-bottom: 0 !important;
}
.banner-slide {
  position: relative;
  display: block;
}
.banner-slide a {
  position: relative;
  display: block;
  width: 50%;
  float: left;
}

.banner-slide-prev,
.banner-slide-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 19px;
  height: 34px;
  cursor: pointer;
  border: 0;
}
.banner-slide-prev {
  left: 20px;
  background: url("../images/banner_arrow.png");
}
.banner-slide-prev:hover {
  background-position: 0px -34px;
}
.banner-slide-next {
  right: 20px;
  background: url("../images/banner_arrow.png");
  transform: rotateY(180deg) translateY(-50%);
}
.banner-slide-next:hover {
  background-position: 0px -34px;
}
/*  체철 요리 */

.season {
  display: block;
  position: relative;
}
.season-wrap {
  position: relative;
  display: block;
}
.season-left {
  position: relative;
  display: block;
  width: 790px;
  float: left;
  height: 420px;
}

.season-left a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.season-left a > img {
  position: absolute;
  left: 50%;
  top: 50%;
  /* 좌표는 결정했고 내용물만 옯긴다 */
  transform: translate(-50%, -50%);
  display: block;
}

.season-info {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  /* 인라인 블락일경우 공백이 생긴다 */
  /* 공백은 엔터키 때문에 생김 */
  float: left;
  font-size: 0;
  letter-spacing: 0;
}
.season-info h3 {
  color: white;
  font-weight: 700;
  font-size: 25px;
  padding: 95px 15px 25px 15px;
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  background: #76bd42;
  vertical-align: -21px;
}
.season-info p {
  position: relative;
  display: inline-block;

  width: 490px;
  height: 150px;
  background: rgba(255, 255, 255, 0.8);
  padding: 40px 30px;
}
.season-info p span {
  position: relative;
  display: inline-block;

  margin-bottom: -5px;
  font-size: 25px;
  color: #333;
  white-space: nowrap;
}
.season-info p b {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 30px;
}

.season-right {
  position: relative;
  display: block;
  width: cal(100% - 790px - 70px);
  width: 340px;
  float: right;
}

.season-list {
  position: relative;
  display: block;
  background: white;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}
.season-good-list {
  position: relative;
  display: block;

  width: 100%;
  height: 255px;

  overflow: hidden;
}
.season-good-list > li {
  position: relative;
  display: block;
}
.season-good {
  position: relative;
  display: block;
  height: 70px;
  margin-bottom: 15px;
}
.season-label {
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  width: 18px;
  height: 18px;
  background: url("../images/inpCheck.png") no-repeat;
  background-position: 0px 0px;
  font-size: 0;
  transform: translateY(-50%);
}

.season-good-check:checked + .season-label {
  background-position: 0px -36px;
}
.season-good-check {
  position: absolute;
  left: -20000000000000px;
  top: 0px;
  display: block;
}
.season-good-img {
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  margin-left: 40px;
  overflow: hidden;
  float: left;
}

.season-good-img > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.season-good-info {
  position: relative;
  display: block;
  padding: 10px 20px;
  float: left;
}
.season-good-title {
  position: relative;
  display: block;
  font-size: 15px;
}
.season-good-price {
  position: relative;
  display: block;
  font-size: 13px;
}
.season-good-price em {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-style: normal;
}

.season-total {
  position: relative;
  display: block;
}
.season-good-total {
  position: relative;
  display: block;
  padding-left: 40px;
  font-size: 20px;
  color: #000;
  margin: 30px 0;
}
.season-good-total em {
  font-style: normal;
}
.buy-good {
  position: relative;
  display: block;
  border: 1px solid #bbb;
  text-align: center;
  color: #000;
  font-size: 20px;
  padding: 18px 0;
}
.buy-good em {
  position: relative;
  display: inline-block;
  font-style: normal;
}

/* 이용후기 */
.review {
  position: relative;
  display: block;
  background: #fcf6f2;
}
.review .slide-control {
  margin-top: 25px;
}
.review-slide {
  position: relative;
  display: block;
  width: 100%;
  height: 235px;
}
.review-box {
  position: relative;
  display: block;
  width: 290px;
  height: 100%;
  background: #fff;
  margin-right: 15px;

  padding: 20px;

  float: left;
}
.review-slide .review-box:last-child {
  margin-right: 0;
}
.review-box a {
  position: relative;
  display: block;
}
.review-box-desc {
  position: relative;
  display: block;
  width: 100%;
  /* 이미지 높이 기준 */
  height: 66px;
  margin-bottom: 15px;
}
.review-box-title {
  position: relative;
  display: block;
  font-size: 17px;
  /*  말줄임 ... 표시 */
  width: 165px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  margin-bottom: 5px;
}
.review-box-star {
  position: relative;
  display: block;
  width: 100%;
  height: 20px;
  font-size: 17px;
  font-weight: 500;
  padding-left: 25px;
}
.review-box-star::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background: url("../images/icoRating.png") no-repeat;
}
.review-box-img {
  position: absolute;
  right: 0;
  top: 0;
  width: 66px;
  height: 66px;
  overflow: hidden;
}
.review-box-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.review-box-txt {
  position: relative;
  display: block;
  font-size: 13px;
  width: 100%;
  /* 두줄이상 말줄이 표현 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
}

.review-box-user {
  position: relative;
  display: block;
  font-size: 13px;
}

/* 커뮤니티 */
.community {
  position: relative;
  display: block;
}

.community-notice {
  position: relative;
  display: block;
  width: calc(100% / 3);
  padding: 0 40px;
  border-right: 1px solid #ddd;
  float: left;
}

.community-notice > dl {
  position: relative;
  display: block;
}
.community-notice > dl > dt {
  position: relative;
  display: block;

  padding: 0 10px;

  float: left;
}
.community-notice > dl > dt:nth-child(1) {
  padding-left: 0;
}
.community-notice > dl > dt:nth-child(1)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 1px;
  height: 18px;
  background: #e5e5e5;
}

.community-bt {
  position: relative;
  display: block;
  border: 0;
  cursor: pointer;
  background: transparent;
  font-size: 20px;
  color: #999;
}
.community-bt-active {
  color: #000;
  font-weight: 700;
}

.community-notice > dl > dd {
  position: absolute;
  left: 0;
  top: 50px;
  display: none;
  width: 100%;
  background: #fff;
}
.community-visible-active {
  display: block !important;
}
.notice-list {
  position: relative;
  display: block;
}
.notice-list > li {
  position: relative;
  display: block;
  line-height: 1;
  margin-bottom: 15px;
}
.notice-list > li > a {
  position: relative;
  display: block;
  font-size: 13px;
}
.notice-list > li > a > span {
  position: relative;
  display: inline-block;
  /* 1줄일때 말줄임 ... */
  width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.notice-list > li > a > em {
  position: relative;
  display: inline-block;
  width: calc(100% - 240px);
  color: #999;
  font-style: normal;
  text-align: right;
  vertical-align: 2px;
}

.community-info {
  position: relative;
  display: block;
  width: calc(100% / 3);
  padding: 0 40px;

  float: left;
}

.community-info h3 {
  position: relative;
  display: block;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.tel {
  position: relative;
  display: block;
  font-size: 32px;
  font-weight: 700;
  color: #76bd42;
  margin-bottom: 15px;
}

.community-info-list {
  position: relative;
  display: block;
}
.community-info-list li {
  position: relative;
  display: block;
  font-size: 13px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 10px;
}
.t1 {
  color: #666;
}
.t2 {
  color: #000;
}
.t3 {
  color: #000;
}
.community-info-list > li > b {
  font-weight: 700;
}
.community-info-list > li > a {
  font-weight: 700;
}

.community-help {
  position: relative;
  display: block;
  width: calc(100% / 3);
  padding: 0 40px;
  float: left;
}

.community-help h3 {
  position: relative;
  display: block;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.community-hlep-list {
  position: relative;
  display: block;
}
.community-hlep-list > li {
  position: relative;
  display: block;
  width: calc(50% - 5px);
  margin-bottom: 10px;
}
.community-hlep-list > li:nth-child(2n + 1) {
  float: left;
}
.community-hlep-list > li:nth-child(2n) {
  float: right;
}
.community-hlep-list > li > a {
  position: relative;
  display: block;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 0 12px;
  line-height: 36px;
  font-size: 13px;
  color: #333;
}
.community-hlep-list > li > a::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  /* 위치는 고정 내용!!만 이동 */
  transform: translateY(-50%);
  display: block;
  width: 8px;
  height: 12px;
  background: url("../images/icoFaq.png") no-repeat;
}

.community-line::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 1px;
  height: 190px;
  background: #ddd;
}
/*  하단 */

.footer {
  display: block;
  position: relative;
}
.footer-top {
  display: block;
  position: relative;
  border-top: 1px sollid #f2f2f2;
}
.footer-menu {
  position: relative;
  display: block;
  float: left;
  padding: 20px 0px;
}
.footer-menu > li {
  position: relative;
  display: block;
  float: left;
  padding: 0 10px;
}
.footer-menu > li > a {
  position: relative;
  display: block;

  font-size: 13px;
}

.footer-menu > li::after {
  content: "";

  position: absolute;
  right: 0;
  right: 0;
  top: 50%;
  transform: translatey(-50%);
  width: 2px;
  height: 2px;
  background: #a9b0b8;
}

.footer-menu > li:first-child {
  padding-left: 0;
}
.footer-menu > li:last-child {
  padding-right: 0;
}

.footer-menu > li:last-child::after {
  content: none;
}
.footer-link {
  position: relative;
  display: block;
  float: right;
  cursor: pointer;
  border: 0;
  background: #fff;
  /* 높이주고 세로 중앙정렬을 한번에 처리 */
  line-height: 64px;
  font-size: 13px;
  color: #666;
}
/*  */
.footer-copy {
  position: relative;
  display: block;
  float: left;
}

.footer-sns {
  position: relative;
  display: block;
  float: right;
}

.blank {
  display: inline-block;
  width: 30px;
}

.footer-link:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../images/btnMore.png") no-repeat;
  vertical-align: 0;
}
.footer-main {
  display: block;
  position: relative;
  border-top: 1px sollid #f2f2f2;
  padding: 20px 0;
}

.footer-copy {
}
.copy-list {
}
.copy-list > li {
  display: block;
  position: relative;
  font-size: 13px;
  line-height: 1;
  margin-bottom: 10px;
  color: #666;
}

.copy-list > li > span {
  position: relative;
  display: inline-block;
  padding: 0 8px;
}

.copy-list > li > span:first-child {
  padding-left: 0;
}
.copy-list > li > span:last-child {
  padding-left: 0;
}

.copy-list > li > span:last-child::after {
  content: none;
}

.copy-list > li > span::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translaty(-50%);
  display: block;
  width: 1px;
  height: 10px;
  background: #e5e5e5;
}
.copy-txt {
  display: block;
  position: relative;

  color: #999;
  font-size: 11px;
  margin-top: 20px;
}
.sns-list {
  display: block;
  position: relative;
}
.sns-list > li {
  display: block;
  position: relative;
  float: left;
  padding: 0 5px;
}

.sns-list > li:first-child {
  padding-left: 0;
}
.sns-list > li:last-child {
  padding-right: 0;
}
.sns-list > li > a {
  display: block;
  position: relative;
  width: 26px;
  height: 26px;
  background: url("../images/ftSns.png") no-repeat;
}
.is {
  background-position: 0px -26px !important;
}
.fb {
  background-position: 0px 0px !important;
}
.yt {
  background-position: 0px calc(-26px * 3) !important;
}
.nb {
  background-position: 0px calc(-26px * 2) !important;
}
.kk {
  background-position: 0px calc(-26px * 4) !important;
}

.sns-list {
}
