@charset "utf-8"
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;

}
a{
    color: black;
    text-decoration: none;

}
ul,li{
    list-style: none;
}
html{ 
    font-size: 15px;

}
img{
    border: 0;
    vertical-align: center;

}
body {
    font-family: "Roboto", "Noto Sans KR", sans-serif;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 400;
    color: #000;
  }
    /* 공통요소 */
    .clearfix::after{
        content: "";
        position: relative;

        display: block;
        width: 100%;
        clear: both;

    }
    .container{
        position: relative;
        display: block;
        width: 1200px;
        margin: 0 auto
        
    }
    /* 레이아웃 */
    .wrap{
        position: relative;
        display: block;
    }
    
    /*  상단 */
    .header{ 
        display: block;
        position: relative;
    }
    /*  비주얼 */
    .visual{
        display: block;
        position: relative;

    }
    /*  오늘의상품 */
    .today{
        display: block;
        position: relative;
    }
    /*  알뜰상품 */
    .sale{
        display: block;
        position: relative;
    }
    /*  신상품 */
    .new{
        display: block;
        position: relative;
    }
    /*  추천물품 */
    .recommend{
        display: block;
        position: relative;
    }
    /*  인기물품 */
    .popular{
        display: block;
        position: relative;
    }
    /*   */
    /*  브랜드관 */
    .brand{
        display: block;
        position: relative;
    }
    /*  배너 */
    .banner{
        display: block;
        position: relative;
    }
    /*  체철 요리 */
   
    .season{
        display: block;
        position: relative;
    }

     /*  이용후기 */
   
     .review{
        display: block;
        position: relative;
    }
    
     /* 커뮤니티 */
   
     .commnity{
        display: block;
        position: relative;
    }
    
     /*  하단 */
   
     .footer{
        display: block;
        position: relative;
    }
    

    
    


    
