@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}
a {
  color: black;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
html {
  font-size: 15px;
}
img {
  border: 0;
  vertical-align: center;
}
body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 400;
  color: #000;
}
/* 섹션레이아웃 공통패딩 */
.wrap > section{
  padding: 80px 0;

}
/* 타이틀 레이아웃 */
.section-title {
  position: relative;
  display: block;
  font-size: 32px;
  line-height: 40px;
  color: #000;
  font-weight: 400;
}
.section-title b {
  font-weight: 700;
}
.section-title .blue {
  color: #76bd42;
}
/* 공통요소 */


.clearfix::after {
  content: "";
  position: relative;

  display: block;
  width: 100%;
  clear: both;
}
.container {
  position: relative;
  display: block;
  width: 1200px;
  margin: 0 auto;
}
/* 타이틀 레이아웃 */
/* 제품 기본 레이아웃 */
/* 섹션 레이아웃 */

/* 레이아웃 */
.wrap {
  position: relative;
  display: block;
}

/*  상단 */
.header {
  display: block;
  position: relative;
  z-index: 99999;
  border-bottom: 1px solid #eee ;
  background: white;
}
.header-top {
  display: block;
  position: relative;
  
  padding-top: 30px;
}
.header-top-left {
  display: block;
  position: relative;
  float: left;
  /* inline 엔턴키 공백 제거  */
  font-size: 0;
  letter-spacing: 0;
}
.logo {
  position: relative;
  display: inline-block;
  margin-right: 18px;
}

.bt-schedule {
  position: relative;
  display: inline-block;
  font-size: 13px;
  color: #666;
  border: none;
  background: transparent;
  cursor: pointer;
  vertical-align: 9px;
}
.bt-schedule img {
  vertical-align: -2px;
}
.header-top-right {
  display: block;
  position: relative;
  float: right;
  padding: 3px;
}
.track {
  position: relative;
  display: inline-block;
}
.member-list {
  position: relative;
  display: inline-block;
  vertical-align: -3px;
}

.member-list > li {
  display: block;
  position: relative;
  float: left;
  padding: 0 10px;
}
.member-list > li::after {
  content: "";

  position: absolute;
  right: 0;
  top: 7px;
  height: 8px;
  width: 1px;
  background: #bbb;
}
.member-list > li:last-child {
  padding-right: 0;
}
.member-list > li:last-child::after {
  content: none;
}
.member-list > li > a {
  display: block;
  position: relative;
  font-size: 13px;
  color: #666;
}
a.center-more {
  padding-right: 15px;
}
.center-more::after {
  /*  많이 쓰임 */
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 10px;
  height: 6px;
  background-position: 0px 0px;

  background: url("../images/icoMyMenu.png") no-repeat;
}
.center-list {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  z-index: 1;
}
.center-list > li {
  display: block;
  position: relative;
}
.center-list > li > a {
  display: block;
  position: relative;
  color: #666;
  font-size: 13px;
  white-space: nowrap;

  /* 줄내림 놉 */
}
.center-more:hover {
  background-position: 0px -6px;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;

}

.header-main {
  display: block;
  position: relative;
  padding: 13px 0;
}
.header-main-left {
  display: block;
  position: relative;
  float: left;
}
.nav{
  display: inline-block;
  position: relative;
  padding-top: 12px;
  margin-right: 45px;
}

.gnb{
  display: block;
  position: relative;
  
}
.gnb >li{
  display: block;
  position: relative;
  float: left;
  
  margin-right: 30px;
}
.gnb >li:last-child{
  margin-right: 0;
}
.gnb >li >a
{
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 17px;
  color: #000;
  line-height: 19px;

 
}
.gnb>li >a:hover{
  background: #76bd42;

}
.ball::after{
content: "";
position: absolute;
right: -7px;
top: 0px;
width: 5px;
height: 5px;
background: #ff9933;
border-radius: 50%;
}
.all-bt{
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 17px;
  color: #000;
  cursor: pointer;
  border: 0;
  background: transparent;
  line-height: 19px;


}
.all-bt> i{
  margin-right: 15px;
  display: inline-block;
  /* block 주면 줄내림됨 옆에 아무도못옴  */

}
.join-bt{
  display: block;

  font-weight: 500;
  font-size: 17px;
  color: #000;
  cursor: pointer;
  border: 0;
  background: transparent;
  line-height: 19px;
}
.join-bt:hover{
  color: #76bd42;
}

.join-bt-icon{
  position: relative;
  display: inline-block;
  width: 12px;
  height: 8px;
  background: url("../images/icoGnbArr2.png")no-repeat;
  background-position: 0px 0px;
  vertical-align: 2px;
  margin-left: 2px;


}
.join-list, 
.more-menu-list{
  position: absolute;
  left: 50%;
  /* 좌표가 아닌 보이는 영역의 내용을 이동한다 */
  transform: translateX(-50%);
  top: 42px;
  display: block;
  padding: 20px;
  background: white;
  border:  1px solid #ddd;
  box-shadow:  0px 3px 6px 0px rgb(0 0 0 / 16%);
  
}
.join-list >li,
.more-menu-list>li{
  position: relative;
  display: block;
  padding: 7px 0;
  text-align: left;
}
.join-list>li> a,
.more-menu-list> li >a{
  position: relative;
  display: inline-block;
  font-size: 15px;
  color: #666;
  line-height: 37px;
  white-space: nowrap;
  line-height: 19px;
 
  border-bottom: 2px solid white;
}
.join-list >li >a:hover,
.more-menu-list>li>a:hover{
  /* text-decoration: underline;

  text-underline-position: under;
  text-decoration-thickness: 2px; */
  border-bottom: 2px solid #000;
  font-weight: 600;
  color: #000;
}
.join-bt:hover .join-bt-icon{
  background-position: 0px -8px;
}
.more-menu

{
  display: inline-block;
  position: relative;
 

}
.more-menu-bt{
  display: inline-block;
  position: relative;
 
  font-size: 13px;
  color: #666;
  cursor: pointer;
  border: 0;
  background: transparent;
  line-height: 19px;
  vertical-align: 5px;
}
.more-menu-icon{
  display: inline-block;
  width: 10px;
  height: 6px;
  background: url(../images/icoGnbArr3.png) no-repeat;
  background-position: 0px 0px;
  margin-right: 3px;
  vertical-align: px;
}
.more-menu-bt:hover{
  color: #76bd42;
}
.more-menu-bt:hover> .more-menu-icon{
  background-position: 0 -6px;
}
.header-main-right {
  display: block;
  position: relative;
  float: right;
  
}
.search-form{
  display: block;
  position: relative;
  float: left;
}
.search-txt {
  position: relative;
  display: block;
  width: 320px;
  height: 40px;
  background: #f7f7f7;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 45px;
  border: 1px solid #f7f7f7;
  line-height: 40px;
  font-size: 13px;
}
.search-txt:focus {
  background: #fff;
  border: 1px solid #76bd42;
  color: #000;
}


.search-bt{
  position: absolute;
  top: 50%;
  /*좌표는결정했는데 보이는내용물의 높이를 50%만큼 위로 올린다  */
  transform: translateY(-50%);
  right: 20px;
  display: block;
  border: 0;
  width: 18px;
  height: 18px;
  background: url("../images/btnSearch.png") no-repeat;
  cursor: pointer;
  font-size: 0;
}
.bucket{
   display: block;
  position: relative;
width: 30px;
height: 30px;
background: url("../images/btnCart.png");
font-size: 0;
float: left;
margin-top: 6px;
margin-left: 25px;
}
.bucket-count{
  position: absolute;
  display: block;
  right: -5px;
  top: -1px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  background: #76bd42;
  border-radius: 50%;
  font-size: 11px;
  font-weight: 700;
}
/*  비주얼 */
.visual {
  display: block;
  position: relative;
  width: 100%;
  height: 410px;
  overflow: hidden;
  padding: 0; !important
  
}
.visual-slide{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.visual-slide-page{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.visual-slide-page a{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.visual-prev, 
.visual-next
{
  position: absolute;
  
  top: 50%;
  /* 죄표고정 내용물만 옯김 */
  transform: translateY(-50%);
  display: block;
  border: 0;
  cursor: pointer;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.visual-prev:hover{
  background: rgb(0, 0, 0, 0.3) url("../images/visualArrP.png") no-repeat;
  background-position: 0 -64px;

}
.visual-prev{
  left: calc(50% - 600px);
  background: rgb(0, 0, 0, 0.0) url("../images/visualArrP.png") no-repeat;
 background-position: 0 -64px;
}

.visual-next{
  right: calc(50% - 600px);
  background-position: 0 -64px;
  background: rgb(0, 0, 0, 0.0) url("../images/visualArrN.png") no-repeat;
}
.visual-next:hover{
  background: rgb(0, 0, 0, 0.3) url("../images/visualArrP.png") no-repeat;
  background-position: 0 -64px;

}
.visual-control{
  position: absolute;
  bottom: 43px;
 
  left: calc(50% - 600px + 80px);
  display: block;
}
.visual-play{


  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/visualPlay.png");
  float: left;
  border: 0;
  
}
.visual-pg{
  display: block;
  position: relative;
  width: 52px;
  height: 30px;
  background: url("../images/visualNum.png") no-repeat;
  float: left;
  font-size: 14px;
  font-weight: 700;
  margin-left: 5px;
  text-align: center;
  color: #fff;


}
.visual-more{
  display: block;
  position: relative;
  width: 29px;
  height: 30px;
  background: url("../images/visualMore.png") no-repeat;
  cursor: pointer;
  border: 0;
  margin-left: 3px;
  float: left;
}



/*  오늘의상품 */
.today {
  display: block;
  position: relative;
}
/*  알뜰상품 */
.sale {
  display: block;
  position: relative;
}
/*  신상품 */
.new {
  display: block;
  position: relative;
}
/*  추천물품 */
.recommend {
  display: block;
  position: relative;
}
/*  인기물품 */
.popular {
  display: block;
  position: relative;
}
/*   */
/*  브랜드관 */
.brand {
  display: block;
  position: relative;
}
/*  배너 */
.banner {
  display: block;
  position: relative;
}
/*  체철 요리 */

.season {
  display: block;
  position: relative;
}

/*  이용후기 */

.review {
  display: block;
  position: relative;
}

/* 커뮤니티 */

.commnity {
  display: block;
  position: relative;
}

/*  하단 */

.footer {
  display: block;
  position: relative;
}
